.pdf-list {
	width: 80%;
}
.card {
	width: 18rem;
}
.category .list-group {
	width: 200px;
}
.nd {
	text-decoration: none;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}